/* fonts used:
font-family: 'Mansalva', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Cinzel', serif; 
*/



* {
    box-sizing: border-box; 
  }
.main {
    margin: auto;
    margin-bottom: 30px;
}



/* -----NAV BAR MOBILE----- */
.menu-button {
    background-color: black;
    color: white;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 50px;
    font-family: 'Mansalva', cursive;
    margin-bottom: 10px;
}
.menu-icon {
    width: 10px;
    height: 2px;
    background-color: white;
    margin: 5px 0;
    border-radius: 3px;
}
ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #ffb3b3;
    font-family: 'Montserrat', sans-serif;
}
li {
    display: flex;
    justify-content: center;
}
.nav-link {
    font-size: 20px;
    padding: 17px;
}



/* -----ABOUT MOBILE----- */
h1 {
    font-family: 'Cinzel', serif;
    display: flex;
    justify-content: center;
    margin: 0px;
    font-size: 40px;
}
.titular-name {
    font-family: 'Mansalva', cursive;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 5px;
}
.emily-image {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    height: 300px;
    background-color: black;
    border: 10px outset black;
}
.introduction {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    text-align: center;
    font-size: 20px;
}
.resume{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.resume-img {
    height: 450px;
    margin-top: 30px

}



/* -----PORTFOLIO MOBILE----- */
.portfolio-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.portfolio-project {
    width: 80%;
}
.project-link {
    font-size: 20px;
    margin-top: 30px;
    border: 3px solid #ffb3b3;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}



/* -----CONTACT MOBILE----- */
.main-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}
.contact-h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 30px;
}
h2 {
    font-size: 27px;
    font-family: 'Cinzel', serif;
    display: flex;
    justify-content: center;
}
.my-info {
    border-bottom: 1px solid gainsboro;
    width: 200px;
    text-align: center;
    display: flex;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    font-size: 27px;
}
.personal {
    margin-bottom: 50px;
}
.personal-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}
.label {
    font-size: 25px;
    color: black;
}
.form-class {
    display: flex;
    justify-content: center;
}
legend {
    display: flex;
    justify-content: center;
}
.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}
.label-answer {
    font-family: 'Mansalva', cursive;
    font-size: 25px;
}
label {
    font-size: 20px;
}
.input {
    border: 1px solid black;
}
.social {
    display: flex;
    align-items: baseline;
    padding: 20px;
    margin-top: 70px;
}
.social a {
    border: 3px solid #ffb3b3;
    border-radius: 20px;
    padding: 20px;
}
.submit {
    border-bottom: 1px ridge black;
    font-size: 20px;
}
.submit-button {
    display: flex;
    justify-content: center;
}
.has-error input[type="text"], .has-error input[type="email"], .has-error select {
    border: 1px solid #a94442;
}




/* -----FOOTER MOBILE----- */
footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: #ffb3b3;
    padding: 25px;
    font-family: 'Playfair Display', serif;
    position: fixed;
    bottom: 0px;
}
footer div {
    height: 30px;
}
.footer-name {
    font-family: 'Mansalva', cursive;
    display: flex;
    justify-content: center;
    font-size: 20px
}
.last-updated {
    font-size: 17px;
}





/* -----FOR DESKTOPS AND WIDER SCREENS----- */
@media screen and (min-width: 800px) {


    /* -----NAV BAR----- */
    .whole-menu {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-button {
        margin-left: 50px;
        margin-top: 50px;
        margin-bottom: 30px;
        border-radius: 20%;
    }
    .menu-icon {
        width: 25px;
        height: 2px;
        margin: 7px 0;
        border-radius: 10px;
    }
    .navbar-nav {
        width: 700px;
        margin-left: 50%;
        margin-bottom: 30px;
        border-radius: 7px;
        display: flex;
    }
    a.nav-link {
        font-size: 25px;
        margin: 10px;
        padding: 0px;
    }



    /* -----ABOUT----- */
    h1 {
        font-size: 50px;
        display: flex;
    }
    .titular-name {
        font-size: 35px;
        font-family: 'Mansalva', cursive;

    }
    .emily-image {
        height: 500px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .introduction {
        font-size: 30px;
    }
    .resume {
        margin-top: 100px;
    }
    .resume-img {
        width: 100rem;
        height: 137.5rem;
        
    }
    


    /* -----PORTFOLIO----- */
    .portfolio-project {
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        margin-bottom: 30px;
    }
    .column1 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin-right: 100px;
        width: 50%;
    }
    .column2 {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    .project-link {
        margin-top: 30px;
        border: 3px solid #ffb3b3;
        border-radius: 20px;
        padding: 30px;
    }



    /* -----CONTACT----- */
    .main-contact {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .contact-h1 {
        font-size: 50px;
        margin: 50px;
    }
    h2 {
        font-size: 35px;
        display: flex;
        justify-content: center;
    }
    .my-info {
        margin: auto;
        margin-top: 23px;
        margin-bottom: 30px;
        width: 283px;
        font-size: 35px;
    }
    label {
        font-size: 30px;
    }
    .label {
        font-size: 30px;
    }
    .label-answer {
        font-size: 30px;
    }
    .input {
        width: 300px;
    }
    .social a {
        font-size: 30px;
    }
    .personal-contact {
        margin-top: 20px;
        margin-bottom: 40px;
    }



    /* -----FOOTER----- */
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 0px;
        font-size: 20px;
    }
    footer div {
        height: 50px;
    }
    .footer-name {
        font-size: 30px;
        font-family: 'Mansalva', cursive;
    }
    .last-updated {
        font-size: 30px;
    }
};
